.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero {
  position: relative;
  padding-top: 128px;
}
.max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.heading-container {
  flex: 1;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text01 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  text-align: center;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-twounits);
}
.primary {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
  background-color: var(--dl-color-scheme-blue);
}
.gallery {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.container01 {
  width: 25%;
  align-self: stretch;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.container02 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
  flex-direction: column;
}
.image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.container03 {
  width: 50%;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}
.image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.container04 {
  width: 100%;
  display: flex;
  grid-gap: 20px;
}
.image4 {
  flex: 1;
  width: 194px;
  height: 203px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.image5 {
  flex: 1;
  width: 161px;
  height: 201px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.services {
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: var(--dl-color-scheme-lightbrown);
}
.max-width1 {
  flex-direction: column;
}
.heading-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text02 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.controls {
  display: none;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
}
.icon {
  width: 16px;
  height: 16px;
}
.icon02 {
  width: 16px;
  height: 16px;
}
.cards-container {
  width: 100%;
  display: flex;
  grid-gap: 20px;
}
.portofolio {
  padding-bottom: 0px;
}
.max-width2 {
  flex-direction: column;
}
.text-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.text06 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text07 {
  text-align: center;
}
.tab-selector-cards-container {
  width: 100%;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.about {
  background-color: var(--dl-color-scheme-lightbrown);
}
.max-width3 {
  flex-direction: row;
  justify-content: space-between;
}
.text-container2 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.text08 {
  color: var(--dl-color-scheme-blue);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text09 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text10 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.container05 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.checklist {
  width: 50%;
  height: 459px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon04 {
  fill: var(--dl-color-scheme-blue);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text11 {
  font-style: normal;
  font-weight: 500;
}
.check-item1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon06 {
  fill: var(--dl-color-scheme-blue);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text12 {
  font-style: normal;
  font-weight: 500;
}
.check-item2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon08 {
  fill: var(--dl-color-scheme-blue);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text13 {
  font-style: normal;
  font-weight: 500;
}
.check-item3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon10 {
  fill: var(--dl-color-scheme-blue);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text14 {
  font-style: normal;
  font-weight: 500;
}
.check-item4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon12 {
  fill: var(--dl-color-scheme-blue);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text15 {
  font-style: normal;
  font-weight: 500;
}
.check-item5 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon14 {
  fill: var(--dl-color-scheme-blue);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text16 {
  font-style: normal;
  font-weight: 500;
}
.container06 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.primary1 {
  color: var(--dl-color-scheme-white);
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  background-color: var(--dl-color-scheme-darkgray);
}
.primary2 {
  color: var(--dl-color-scheme-white);
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  background-color: var(--dl-color-scheme-blue);
}
.image6 {
  width: 475px;
  height: 457px;
  display: flex;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.image-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.process {
  background-color: var(--dl-color-scheme-lightblue);
}
.max-width4 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.text17 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text18 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-fourunits);
}
.step {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.text22 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
  padding-right: var(--dl-space-space-unit);
}
.container07 {
  width: 719px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text23 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.text24 {
  color: var(--dl-color-scheme-white80);
}
.step1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.text25 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.container08 {
  width: 739px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text26 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.text27 {
  color: var(--dl-color-scheme-white80);
}
.step2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.text28 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.container09 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text29 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.text30 {
  color: var(--dl-color-scheme-white80);
}
.step3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.text31 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.container10 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text32 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.text33 {
  color: var(--dl-color-scheme-white80);
}
.step4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.text34 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.container11 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text35 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.text36 {
  color: var(--dl-color-scheme-white80);
}
.banner {
  background-color: var(--dl-color-scheme-blue);
}
.max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.text37 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text38 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.text39 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.primary3 {
  color: var(--dl-color-scheme-lightblue);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.max-width6 {
  flex-direction: row;
  justify-content: center;
}
.image7 {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
@media(max-width: 991px) {
  .heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .gallery {
    flex-direction: column;
  }
  .container01 {
    width: 100%;
  }
  .container02 {
    width: 100%;
    flex-direction: row;
  }
  .image1 {
    width: 100%;
    height: 773px;
  }
  .image2 {
    display: none;
  }
  .container03 {
    width: 100%;
    align-items: stretch;
  }
  .image4 {
    height: 956px;
  }
  .image5 {
    display: none;
  }
  .tab-selector-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .max-width3 {
    flex-direction: column;
  }
  .text-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .container05 {
    width: 100%;
  }
  .checklist {
    width: 540px;
    padding-left: 36px;
  }
  .image6 {
    width: 402px;
    height: 376px;
  }
  .image-container {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .text {
    font-size: 48px;
  }
  .container02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image1 {
    width: 475px;
    height: 372px;
  }
  .image2 {
    width: 220px;
    height: 377px;
  }
  .container04 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image4 {
    width: 100%;
  }
  .image5 {
    width: 100%;
  }
  .tab-selector-cards-container {
    grid-template-columns: 1fr;
  }
  .checklist {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .text22 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .text25 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .text28 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .text31 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .text34 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .image1 {
    width: 435px;
    height: 382px;
  }
  .image2 {
    display: none;
  }
  .image4 {
    width: 434px;
    height: 355px;
    max-width: 100%;
  }
  .image5 {
    display: none;
  }
  .cards-container {
    flex-direction: column;
  }
  .tab-selector-cards-container {
    grid-template-columns: 1fr;
  }
  .container05 {
    flex-direction: column;
  }
  .checklist {
    width: 100%;
    height: 100%;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .image6 {
    width: 100%;
  }
  .text22 {
    margin-right: var(--dl-space-space-twounits);
  }
  .text25 {
    margin-right: var(--dl-space-space-twounits);
  }
  .text28 {
    margin-right: var(--dl-space-space-twounits);
  }
  .text31 {
    margin-right: var(--dl-space-space-twounits);
  }
  .text34 {
    margin-right: var(--dl-space-space-twounits);
  }
  .max-width6 {
    flex-direction: column;
  }
  .image7 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
