.footer {
  background-color: var(--dl-color-scheme-black);
}
.max-width {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-container {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.left-side {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.image {
  margin-bottom: var(--dl-space-space-twounits);
}
.text {
  color: var(--dl-color-scheme-white);
  max-width: 350px;
  margin-bottom: 60px;
  text-transform: none;
}
.social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text01 {
  color: var(--dl-color-scheme-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.icon {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.icon:hover {
  fill: var(--dl-color-scheme-blue);
  cursor: pointer;
}
.icon04 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.icon04:hover {
  fill: var(--dl-color-scheme-blue);
  cursor: pointer;
}
.icon08 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.icon08:hover {
  fill: var(--dl-color-scheme-blue);
  cursor: pointer;
}
.icon10 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.icon10:hover {
  fill: var(--dl-color-scheme-blue);
  cursor: pointer;
}
.links {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.container1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text02 {
  color: var(--dl-color-scheme-white);
  cursor: default;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
}
.text08 {
  margin-bottom: 0px;
}
.container2 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text09 {
  color: var(--dl-color-scheme-white);
  cursor: default;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
}
.text16 {
  margin-bottom: 0px;
}
.copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.text17 {
  color: var(--dl-color-scheme-white80);
  font-size: 14px;
  text-transform: none;
}
.text21 {
  text-decoration: underline;
}
.text25 {
  text-decoration: underline;
}
.text29 {
  text-decoration: underline;
}
@media(max-width: 991px) {
  .bottom-container {
    flex-direction: column-reverse;
  }
  .left-side {
    width: 100%;
  }
  .links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .links {
    flex-wrap: wrap;
  }
  .container1 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .text02 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .container2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .text09 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
