.header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navlink {
  display: contents;
}
.image {
  width: 187px;
  height: 40px;
  text-decoration: none;
}
.nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.register {
  color: var(--dl-color-scheme-white);
  text-decoration: none;
  background-color: var(--dl-color-scheme-blue);
}
@media(max-width: 991px) {
  .nav {
    display: none;
  }
}
@media(max-width: 767px) {
  .max-width {
    padding: var(--dl-space-space-unit);
  }
}
